
mat-sidenav:not(.mat-sidenav-container) {
  transform: translate3d(0, 0, 0) !important;
  height:60% !important;
  overflow: hidden;
}
mat-sidenav:not(.mat-sidenav-container) div.leftNav div.navProfile img {
  width: 100px; margin: 5px 0 0px 0;
}
mat-sidenav:not(.mat-sidenav-container) .navTitle,
mat-sidenav:not(.mat-sidenav-container) .profileTitle {
  display: none;
}

.mat-toolbar {
  background: rgb(240, 162, 47);
  color: rgb(5, 5, 5);
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;  
}