<mat-card>
  <mat-spinner *ngIf="estaCarregando"></mat-spinner>
  <form (submit)="onSalvarCliente(clienteForm)" *ngIf="!estaCarregando" #clienteForm="ngForm">
    <mat-form-field>
      <input
        required
        minlength="4"
        type="text"
        matInput
        placeholder="nome"
        name="nome"
        [ngModel]="cliente?.nome"
        #nome="ngModel"
      /><mat-error *ngIf="nome.invalid">Digite um nome válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="fone"
        name="fone"
        [ngModel]="cliente?.fone"
        #fone="ngModel"
      />
      <mat-error *ngIf="fone.invalid">Digite um telefone válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="email"
        name="email"
        [ngModel]="cliente?.email"
        #email="ngModel"
      />
      <mat-error *ngIf="email.invalid">Digite um nome válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="senha"
        name="senha"
        [ngModel]="cliente?.senha"
        #senha="ngModel"
      />
      <mat-error *ngIf="senha.invalid">Informe nova senha</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="endereco"
        name="endereco"
        [ngModel]="cliente?.endereco"
        #endereco="ngModel"
      />
      <mat-error *ngIf="endereco.invalid">Digite o endereço</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="cidade"
        name="cidade"
        [ngModel]="cliente?.cidade"
        #cidade="ngModel"
      />
      <mat-error *ngIf="cidade.invalid">Informe a cidade</mat-error>
    </mat-form-field>
    
      <select
        required
        matSelect
        placeholder="estado"
        name="estado"
        [ngModel]="cliente?.estado"
        #estado="ngModel"
      ><option value="SP">SP</option>
      <option>RJ</option>
      <option>MG</option>
      <option>BA</option>
      <option>SE</option>
      <option>RN</option>
      <option>CE</option>
      <option>TO</option>
      <option>RO</option>
      <option>RR</option>
      <option>RS</option>
      <option>MS</option>
      <option>MT</option>
      <option>SC</option>
      <option>PR</option>
      <option>PA</option>
      <option>PI</option>
    </select>
      <mat-error *ngIf="estado.invalid">Digite o Estado</mat-error>
   
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="bairro"
        name="bairro"
        [ngModel]="cliente?.bairro"
        #bairro="ngModel"
      />
      <mat-error *ngIf="estado.invalid">Digite o Bairro</mat-error>
    </mat-form-field>
    <button color='accent' mat-raised-button>Inserir</button>
    <button id=bn_voluntarios mat-raised-button  routerLink="/lista"> Verificar Voluntarios </button>
  </form>
</mat-card>
